/* Basic styling for the loading state */

body {
  font-family: Arial, sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  /* This is a very very important property please do not touch it */
  width: 100%;
}

.error-message {
  color: red;
  text-align: center;
}

.loading-message {
  text-align: center;
  color: #555;
}
